:root{
    --backgound-body-color:#EDEEF0;
    --icon-color:#000;
}
h1{
    font-family: 'Open Sans';
}
div{
    font-family: 'Open Sans';
}
.HeaderTitle{
    font-family: 'Rubik Medium';
}
@font-face {
    font-family: "Open Sans";
    src: url("/static/fonts/opensans.ttf");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("/static/fonts/Rubik-Light.ttf");
}
.leftmenu{
    -webkit-box-shadow: 5px 1px 8px -6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 5px 1px 8px -6px rgba(34, 60, 80, 0.2);
    box-shadow: 5px 1px 8px -6px rgba(34, 60, 80, 0.2);
    background-color: #fff;
    z-index: 9000;
}
.itemMenu{
    background-color: #fff;

}
.itemMenu:hover{
    background-color: #e6e8f1;
}

.iconColor{
    color:var(--icon-color);
}
.iconColor:hover{
    color:cadetblue;
}
.scrollHidden::-webkit-scrollbar { width: 0 !important }
.scrollHidden { -ms-overflow-style: none; }
.scrollHidden { overflow: -moz-scrollbars-none; }

body{
    background: var(--backgound-body-color);
    color: #1c1e21;
    direction: ltr;
    margin: 0;
    padding: 0px;
    unicode-bidi: embed;
}
a {
    color: #000 !important;
    text-decoration: none
}
.newsOnStartpage:hover {
    border-radius: 5px;
    background-color: gray;

}
.tabs{
    cursor: pointer;
    background-color: #fff;
}
.tags{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    max-width:200px;
    margin-bottom:3px;
    color:white;
    font-size:14px;
    background-color:red;
    display:inline-block;
    padding:2px;
    border-radius:5px;
    margin-right:5px;
}
.inSearch{
    white-space:pre-wrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:black;
    height: 60px;
}
.tabs:hover {
    border-radius: 5px;
    background-color: #dbdb;

}
.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.hdblock{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;

}
.button2{
    font-family: Poppins,sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 17px;
    color: #fff;
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 7px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    background-color: #0A77B7;
    border-radius: 15px;
    border: 3px;
    cursor: pointer;
    box-shadow: 0 10px 25px -5px rgba(0,0,0,.25);
    transition: transform .3s cubic-bezier(.25,.1,.25,1),box-shadow .3s cubic-bezier(.25,.1,.25,1);
}
input {
    font-size: 17px;
    padding: 6px 6px 4px 10px;
    border: 1px solid #cecece;
    background: #fff;
    border-radius: 15px;
    outline: none;
    -webkit-box-shadow: 0px 2px 8px -3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 8px -3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 8px -3px rgba(34, 60, 80, 0.2);

}


.centre{
    max-width: 1000px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;

}
.hdblock1{

    margin-left: auto;
    margin-right: auto;

}
.parent{
    width: 100%;
    position: fixed;
    background: #fff;
    height: 50px;
    z-index: 10000;
}

html {
    height: 100%;
}

.parent2{
    max-width:1800px;
    margin-left:auto;
    margin-right:auto;
}

.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}
.loaderBottom {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #000;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #000;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #000;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
.adminparent{
    padding-left: 205px;
}
.Madminparent{

}
.adminGlavPage{
    margin-top:40vh;
    transition-property: all;
    transition: all 0.2s;
}
.adminGlavPage1{
    margin-top:20vh;
    transition-property: all;
    transition: all 0.2s;
}
.RichEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Georgia', serif;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.RichEditor-editor {
    cursor: text;
    font-size: 16px;
    margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.RichEditor-editor .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;
}
.RichEditor-editor img{
    max-width: 100%;
}
.RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
    user-select: none;
}

.RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditor-activeButton {
    color: #5890ff;
}
.RichEditor img{
    width: 500px;

}




.imageEditor .form-group{padding:0px;margin:0px;height: 30px;}
.imageEditor input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none;height: 30px;}
.imageEditor .label i,.imageEditor .label .title{color:grey;transition:200ms color}
.imageEditor .label:hover i,.imageEditor .label:hover .title{color:#000}







