.parent {
  padding: 10px;
  padding-top: 80px;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: block;
  position: relative;


  div{
    font-weight: 400;
  }
}
