.parent {
  padding: 10px;
  padding-top: 80px;
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: block;
  position: relative;


  div {
    font-weight: 400;
  }

  .blogParent {
    display: flex;
    column-gap: 40px;

    @media(max-width: 1000px) {
      flex-direction: column-reverse;
    }

    .paramsParent {
      margin: 5px 0px;
      flex: 0 0 auto;
      width: 400px;

      @media(max-width: 1000px) {
        width: 100%;
      }

      .stickyContainter {
        position: sticky;
        top: 100px;


        .linksContainer {
          display: flex;
          flex-wrap: wrap;
          column-gap: 10px;
          row-gap: 5px;

          a {
            text-decoration: none;

            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            /* identical to box height */

            color: #559CAD;
          }
        }

        hr {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
        }

        h1 {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 25px;
          line-height: 35px;
          margin-bottom: 5px;

          color: #000000;
        }

        @media(max-width: 1000px) {
          & *:nth-child(n) {
            display: none;
          }
          .linksContainer{
            display: none;
          }
          & *:nth-child(1) {
            display: block;
            margin-bottom: 15px;
          }
        }
      }
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 20px;
      column-gap: 15px;

      @media(max-width: 600px) {
        flex-direction: column;
      }

      & .blogElement:nth-child(1n) {
        flex: 1 1 40%;

        & .img:nth-child(1n+1) {
          height: 250px;
        }
      }

      & .blogElement:nth-child(1) {
        flex: 1 1 100%;
        min-width: 100%;

        & .img:nth-child(1n) {
          height: 350px;
        }

        & *:nth-child(1n+1) {
          max-width: 1450px;

          & .tag:nth-child(n) {
            width: fit-content;
            flex: 0 0 auto;
          }
        }
      }

      .blogElement {
        display: grid;
        row-gap: 5px;


        .img {
          margin-bottom: 10px;
          background: gray;
          height: 370px;
          border-radius: 15px;
        }

        h1 {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          margin: 0px;

          color: #000000;
        }

        .date {
          font-family: Roboto;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;

          color: rgba(0, 0, 0, 0.31);
        }

        .desc {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;

          color: #000000;
        }

      }
    }
  }
}

.tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
  align-items: center;

  & div:nth-child(n) {

    flex: 0 0 auto;
    width: fit-content;
    background-color: rgba(85, 156, 173, 0.25);;
  }

  & .tag:nth-child(1n+1) {
    background-color: rgba(85, 156, 173, 0.25);;
  }

  & .tag:nth-child(2n+1) {
    background-color: rgba(146, 55, 77, 0.25);
  }

  & .tag:nth-child(3n+1) {
    background: rgba(193, 178, 171, 0.25);
  }

  & .tag:nth-child(4n+1) {
    background: rgba(74, 88, 153, 0.16);
  }

}

.tag {
  display: flex;
  align-items: center;

  font-size: 16px;
  width: fit-content;
  padding: 7px 10px;
  border-radius: 7px;
  cursor: pointer;
}

.tag[id=true] {
  display: flex;
  align-items: center;
  justify-content: center;

  .closeTag {
    margin-left: 7px;
    background-color: transparent;
    padding: 5px 0px;

    & *:nth-child(1) {
      position: absolute;
      border: 1px solid #8BA7AC;
      transform: rotate(-45deg);
      width: 13px;
    }

    & *:nth-child(2) {
      border: 1px solid #8BA7AC;
      transform: rotate(45deg);
      width: 13px;
    }
  }
}


